.register-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 80px 40px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 20px;
  }