body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #969696 !important;
  color: #1d1d1d !important;
  font-family: "Roboto", sans-serif !important;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mantine-uu5h5h {
  font-family: Roboto, sans-serif !important;
}